<h1>Global Stories</h1>

<div class="container">
    <div class="span12">
        <p>Welcome to Global Stories. Here you'll have the chance to be a writer. Don't you ever planned to write a book?? Here you have your first oportunity to collaborate in one story (or more). Just start a story or follow a started one.
        	Enjoy your inspiration.
        </p>
        <br/>
    </div>
    <%= link_to 'Start your Trip', stories_path %>
</div><!--/row-->

<br />
